@media only screen and (max-width: 450px) {
    body {
        display: flex;
        flex-direction: row;
        background-color: rgb(39, 241, 180);
    }
}

body {
  background-color: rgb(253, 227, 207);
  margin-right: 7%;
  margin-left: 3%;
}
.fx {
  display: flex;
  grid-auto-columns: auto;
  gap: 20px;
}
h2 {
  color: rgb(131, 173, 232);
}
h3 {
  color: rgb(10, 113, 77);
  text-decoration: underline;
}
.list {
  font-style: italic;
}
.ref {
  color: brown;
  font-style: italic;
  text-align: center;
}
